# dependencies
node_modules/

# builds
dist/
dist-ssr/
*.log

# editor / system
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json

# env & local config
.env
.env.*.local

# test / coverage
coverage/

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
